# Exclude version control directories and files
.git
.gitignore
files/
plugin/
jupyter_notebook/
bool_examples/
Azure/
gotogpt/
testaigenerator/

# Exclude Python bytecode files + venv
*.pyc
__pycache__
venv/
env/

#Exlude Flask Folders
flask_session/

# Exclude editor/IDE settings
.vscode/
.idea/
.docker
.dockerignore
Dockerfile

# Exclude local development files
*.log
.DS_Store

#Documentation
*.md
*.jpg
*.log
*.png
install.sh