# Ignore Python bytecode files
*.pyc

# Ignore Python cache directories
__pycache__/

# Ignore virtual environment directories
venv/
env/
.env/

#Docker 
.docker

# Ignore npm dependencies
node_modules/

# Ignore TypeScript compilation output
*.js
*.js.map

# Ignore compiled JavaScript files
*.js

# Ignore TypeScript declaration files
*.d.ts

# Ignore Visual Studio Code workspace settings
.vscode/

# Ignore IDE-specific files
.idea/
*.suo
*.ntvs*

# Ignore package-lock.json for npm projects
package-lock.json

# Ignore pipenv environment
Pipfile.lock